
h2{
    background-color:#863BBE;
}
h1{
    color: rgb(48, 25, 70);
}
h2{
    color: rgb(216, 204, 227);
}
html{
    background-color: rgb(174, 169, 177);
}

html{
    font-style: oblique;
}
footer{
    text-align: center;
}
html{
    text-align: center;
}
